@model IEnumerable<BitirmeApp3.Models.ContactMessage>

@{
    ViewData["Title"] = "Gelen Mesajlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h3>Gelen Mesajlar</h3>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Gönderen</th>
                <th>Mail</th>
                <th>Konu</th>
                <th>Mesaj</th>
                <th>Gönderilen Zaman</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <td>@message.Name</td>
                    <td>@message.Email</td>
                    <td>@message.Subject</td>
                    <td>@message.Message</td>
                    <td>@message.SentAt.ToString("dd/MM/yyyy HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
