<!-- Applied.cshtml -->
@model IEnumerable<BitirmeApp3.ViewModels.AppliedAdvertisementsViewModel>
@{
    ViewData["Title"] = "Applied Advertisements";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="wishlist-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>İlan Resim</th>
                                <th>İlan Title</th>
                                <th>Tag</th>
                                <th>İlan Sahibi</th>
                                <th>İlana Git</th>
                                <th>Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ad in Model)
                            {
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="#">
                                            <img class="img-fluid" src="@ad.ImageUrl" alt="" />
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
                                            @ad.AdvertisementTitle
                                        </a>
                                    </td>
                                    <td class="price-pr">
                                        <p>@ad.Tag</p>
                                    </td>
                                    <td class="quantity-box">@ad.AdvertisementOwner</td>
                                    <td class="add-pr">
                                        <a class="btn hvr-hover" href="@Url.Action("Details", "Advertisement", new { id = ad.AdvertisementId })">İlana Git</a>
                                    </td>
                                    <td>
                                        <p>
                                            @(ad.IsApproved ? "Onaylandı! İletişime Geçilecek" : ad.IsRejected ? "Reddedildi" : "Beklemede")
                                        </p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
